<footer>
    <div class="contenedor-footer">
        <div class="margen-superior-footer">
            <div class="sub-contenedor-1">

                <div class="nosotros">
                    <h2>NOSOTROS</h2>
                    <div class="linea-nosotros"></div>
                    <p>Empresa dedica a prestar servivicio de Programación en el área de Página web, mantenimiento y reparación de computadoras en general, instalación de redes y en todo lo referente a informática</p>
                </div>

                <div class="ubicacion">
                    <h2>UBICACIÓN</h2>
                    <div class="linea-ubicacion"></div>

                    <div class="ubicacion-items1">
                        <img src="./assets/img/ubicacion1.ico" alt="ubicacion">
                        <span>Sede Principal Av. Gerardo Unger 5025 - Los Olivos - Lima</span>
                    </div>

                    <div class="ubicacion-items2">
                        <img src="./assets/img/call2.ico" alt="contacto">
                        <span> (+51) 987755889</span>
                    </div>

                    <div class="ubicacion-items3">
                        <img src="./assets/img/correo4.ico" alt="correo">
                        <span>yyerprogramador@gmail.com</span>
                    </div>

                </div>

                <div class="redes-sociales">
                    <h2>REDES SOCIALES</h2>
                    <div class="linea-sociales"></div>

                    <div class="flex-sociales">
                        <div class="redes-sociales-items1">
                            <a href="https://www.facebook.com" target="_blank"> 
                                <img src="./assets/img/social_facebook_fb_87.ico" alt="facebook">
                                <span>Facebook</span></a>
                        </div>

                        <div class="redes-sociales-items2">
                            <a href="https://www.twitter.com" target="_blank"> <img src="./assets/img/social_Twitter_95.ico"
                                    alt="twitter">
                                <span>Twitter</span></a>
                        </div>

                        <div class="redes-sociales-items3">
                            <a href="https://www.linkedin.com" target="_blank"> <img
                                    src="./assets/img/sociallinkedin_member_101.ico" alt="linkedin">
                                <span>Linkedin</span></a>
                        </div>

                        <div class="redes-sociales-items4">
                            <a href="https://www.instagram.com/" target="_blank"> <img src="./assets/img/instagram3.ico"
                                    alt="instagram">
                                <span>Instagram</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sub-contenedor-2">
            <hr>
            <p>Todos los derechos reservados © 2022-<b>PROGRAMADOR</b></p>
        </div>
    </div>

</footer>
