<h1>Registro</h1>
<div class="contacto">
    <div class="form">
        <form (ngSubmit)="save()" action="">

            <div class="textNombre">
                <label for="type-nombre">Nombre</label>
                <div  class="nombre-campo" >
                    
                    <input 
                    appInputValidar
                    type="text" 
                    id="type-nombre" 
                    class="campoNombre"
                    placeholder="Ingresa tu nombre" 
                    required
                    name="nombre"
                    [(ngModel)]="object.name"
                    />
                    
                </div>

            </div>

            <div class="textApellido">
                <label for="type-apellido">Apellido</label>
                    <div class="apellido-campo">
                        <input 
                        appInputValidar
                        type="text" 
                        id="type-apellido" 
                        class="campoApellido"
                        placeholder="Ingresa tu apellido" 
                        required
                        name="apellido"
                        [(ngModel)]="object.surname"
                        />
                            
                    </div>
                
            </div>

            <div class="sexo">
                <label for="">Sexo</label>
                <div class="select-sexo">
                    <select
                    name="sexo"
                    [(ngModel)]="object.gender">
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <option value="no definido">No Definido</option>
                    </select>
                </div>
            </div>

            <div class="email">
                <label for="type-email">Correo Eléctronico </label>
                <div class="imgMail-campo">
                    <input
                    appInputValidar
                    type="email" 
                    id="type-email" 
                    class="campoMail"
                    placeholder="Ingresa tu correo electrónico" 
                    required
                    name="email"
                    [(ngModel)]="object.email"
                    />
                </div>

            </div>
          
            <div *ngIf="validateButton"> 

                <div class="mostrar">
                    <div class="linea"></div>
                    <h4 >datos Ingresados del Cliente</h4>
                    <p>Nombre:<input type="text"class="muestraNombre" [value]="name"  disabled></p>
                    <p>Apellido: <input type="text" class="muestraApellido" [value]="surname "  disabled></p>
                    <p>Sexo: <input type="text" class="muestraSexo" [value]="gender"  disabled></p>
                    <p>Correo: <input type="text" class="muestraEmail" [value]="email"  disabled></p>
                </div>

            </div>

            <div class="boton-registrar">
                <button type="submit" (click)="visibilityButton()" >
                   {{validateButton ? 'Volver': 'Registrar'}} 
                </button>
            </div>

        </form>
    </div>
</div>