<div class="curriculum">

    <div class="encabezado">
        <h1>Curriculum Yoanyer Fernández</h1>
        <div class="imagen">
            <img [src]="myimg" alt="avatar">
        </div>
    </div>


   <div class="datos">
        <div class="datos-1">
            <h2>Datos Personales</h2>
            <span><b>Nombre:</b> Yoanyer José Fernández García </span><br>
            <span><b>N° de Documento:</b> Yoanyer José Fernández García </span><br>
            <span><b>Estado Civil:</b> Soltero </span><br>
            <span><b>Nacionalidad</b> Venezolano</span><br>
            <span><b>Telefono:</b> +51 987 755 889 </span><br>
            <span><b>Correo:</b> yyerprogramador@gmail.com </span><br>
            <span><b>Dirección:</b> Av. Gerardo Unger 5025 - Los Olivos - Lima </span><br>
        </div>
   </div>

   <div class="estudios">
        <div class="estudios-1">
            <h2>Estudios Realizados</h2>
            <h4>Institución en la que Cursó los Estudios</h4>
            <ul>
                <li><b>E.I.P "Escuela Internacional de Posgrado"</b> - Actualemte Cursando</li>
                <li><b>Universidad Nacional Experimental Politécnica De La Fuerza Armada Bolivariana San Tomé – Edo. Anzoátegui"</b> - ( 2004 - 2009 )</li>
                <li><b>Liceo “Briceño Méndez” El Tigre – Edo. Anzoátegui</b> - ( 1998 – 2000 )</li>
                <li><b>E.B  “Juan Pablo Rojas Paúl” El Tigre – Edo. Anzoátegui</b> - ( 1995 – 1998 )</li>
                <li><b>U.E “Simón Rodríguez” El Tigre – Edo. Anzoátegui</b> - ( 1989 – 1995 )</li>
            </ul>
        </div>
   </div>

   <div class="cursos">
        <div class="cursos-1">
            <h2>Cursos</h2>
            <ul>
                <li>ITS, Information Technology Specialist JavaScript, IT Specialist - JavaScript cod: heHv-4wbq</li>
                <li>Certificado de JavaScript Intermedio ; Universidad Nacional Mayor de San Marcos  - Universidad del Perú - 28 de Noviembre de 2022</li>
                <li>Diseño Web con HTML5 + CSS; Fundación Telefónica - 02 de octubre de 2022</li>
                <li>Certificado de JavaScript Básico ; Universidad Nacional Mayor de San Marcos  - Universidad del Perú - 28 de Junio de 2022</li>
                <li>CCNA Routing and Switching: Principios Básicos de Routing y Switching</li>
                <li>Desarrollo de Soluciones Windows con C#</li>
                <li>Modelamiento de datos</li>
            </ul>
        </div>
   </div>
     
   <div class="intereses">
        <div class="intereses-1">
            <h2>Intereses</h2>
            <ul>
                <li>Búsqueda en interés constante de ampliar mis conocimientos en el área de Ingeniería en Sistemas, informática o un fin en común.</li>
                <li>Mejorar mi desempeño en base a los conocimientos adquiridos.</li>
                <li>Alcanzar la mayor experiencia posible en el ámbito laboral.  </li>
            </ul>
        </div>
   </div>

   <div class="habilidades">
    
        <div class="habilidades-1">
            <h2>Habilidades</h2>
            <ul>
                <li>Habilidad en el "lenguaje de marcado de hipertexto HTML".</li>
                <li>Habilidad en el "Lengua de Hoja de Estilos en Cascadas CSS".</li>  
                <li>Habilidad en el "Lenguaje de Programación de JavaScript".</li>
            </ul>
        </div>
   </div>


</div>