<h1>Formulario</h1>

<div class="contacto">
    <div class="form">
        <form (ngSubmit)="show()" action="">

            <div class="textNombre">
                <label for="type-nombre">Nombre</label>
                <div  class="nombre-campo" > 
                    <input  
                    type="text" 
                    id="type-nombre" 
                    class="campoNombre"
                    placeholder="Ingresa tu nombre" 
                    required
                    name="nombre"
                    [(ngModel)]="object.name"
                    /><span *ngIf="!object.name">*</span>
                </div>
            </div>

            <div class="textApellido">
                <label for="type-apellido">Apellido</label>
                    <div class="apellido-campo">
                        <input 
                        type="text" 
                        id="type-apellido" 
                        class="campoApellido"
                        placeholder="Ingresa tu apellido" 
                        required
                        name="apellido"
                        [(ngModel)]="object.surname"
                        /><span *ngIf="!object.surname">*</span>
                    </div>
            </div>

            <div class="email">
                <label for="type-email">Correo Eléctronico </label>
                <div class="imgMail-campo">
                    <input
                    type="email" 
                    id="type-email" 
                    class="campoMail"
                    placeholder="Ingresa tu correo electrónico" 
                    required
                     name="email"
                    [(ngModel)]="object.email" 
                    /><span *ngIf="!object.email.match(EMAIL)">*</span>
                   
                </div>
            </div>


            <div class="textPassword">
                <label for="type-password">Password</label>
                    <div class="password-campo">
                        <input 
                        type="password" 
                        id="type-password" 
                        class="campoPassword"
                        placeholder="Ingresa Contraseña" 
                        required
                        name="password"
                        [(ngModel)]="object.password"
                    /><span *ngIf="object.password.length < 9 " class="spanPassword">* Debe tener como mínimo 9 caracteres</span>
                    
                </div>
            </div>

            <div *ngIf="validateButton" >

                <div class="linea"></div>

                <h4 >Datos del Usuario</h4>

                <div class="mostrar">
                    <p>su Nombre es:<input type="text"class="muestraNombre" [value]="name"  disabled></p>
                    <p>su Apellido es: <input type="text" class="muestraApellido" [value]="surname "  disabled></p>
                    <p>Su correo: <input type="text" class="muestraEmail" [value]="email"  disabled></p>
                </div>

            </div>

            <div class="boton-registrar">
                <button type="submit"  (click)="visibilityButton()" >
                    {{validateButton ? 'Volver': 'Mostrar'}} 
                    
                </button>
                
            </div>


        </form>
    </div>
</div>